

#wrapper_top{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10;	
	background: #C0C0C0;
	height: auto;
	width: 100%;
}

#wrapper_bottom{
	position: absolute;
	top: 258px;
	margin-top: 10px;
	left: 0;
	width: 100%;
	background: #D3D3D3;
}

#heder{
	background: #D3D3D3;
	border: 2px solid #3B303B;
	border-radius: 10px;
	margin: 10px;
	height: 135px;
	position: relative;
}


#inform_left{
	position: absolute;
	background: #C0C0C0;
	border: 2px solid #3B303B;
	border-radius: 10px;	
	width: 15%;	
	height: auto;
	top: 10px;
	left: 10px;
	bottom: 10px;
	padding: 10px;

}

#inform_centr{
	position: absolute;
	background: #C0C0C0;
	border: 2px solid #3B303B;
	border-radius: 10px;	
	width: 62.4%;	
	height: auto;
	top: 10px;
	left: 17.85%;
	bottom: 10px;
	padding: 10px;
}

#inform_right{
	position: absolute;
	background: #C0C0C0;
	border: 2px solid #3B303B;
	border-radius: 10px;	
	width: 15%;	
	height: auto;
	top: 10px;
	right: 10px;
	bottom: 10px;
	padding: 10px;
	font-size: 13px;
}


#block_switch{
	background: #C0C0C0;
	/*border: 1px solid #3B303B;*/
	/*border-radius: 10px;*/
	height: auto;
	width: auto;
	margin-left: 8px;
	/*margin-bottom: 10px;*/
}

#table_hed{
	margin-left: 8px;
}

#table_body{
	margin-left: 8px;
}

.tr_div{
	display: block;
}

.th_div{
	display: inline-block;
	display: table-cell;
	border: 1px solid #3B303B;
	font-size: 14px;
	font-weight: bold;
	word-wrap: break-word;
	text-align: center;
	height: 20px;
	/*padding: 2px;*/
}

.group{
	background: #FFC0C0;
	}

.sort{
	background: #9ECBCC;

	}

.td_div{
	display: inline-block;
	border: 1px solid black;
	/*padding: 2px;*/
	height: 30px;
	display: table-cell;
	text-align: center;
	font-size: 13px;
	word-wrap: break-word;
}

/*Ширина колонок*/
	.col_1{
		width: 40px;
	}

	.col_2{
		width: 60px;
	}

	.col_3{
		width: 80px;
	}

	.col_4{
		width: 85px;
	}

	.col_5{
		width: 100px;
	}

	.col_6{
		width: 80px;
	}

	.col_7{
		width: 80px;
	}

	.col_8{
		width: 70px;
	}

	.col_9{
		width: 70px;
	}

	.col_10{
		width: 70px;
	}

	.col_11{
		width: 80px;
	}

	.col_12{
		width: 80px;
	}

	.col_13{
		width: 70px;
	}

	.col_14{
		width: 70px;
	}


	.col_15{
		width: 70px;
	}


	.col_16{
		width: 70px;
	}


	.col_17{
		width: 70px;
	}


	.col_18{
		width: 70px;
	}


	.col_19{
		width: 70px;
	}


	.col_21{
		width: 70px;
	}


	.col_22{
		width: 70px;
	}


	.col_23{
		width: 70px;
	}


	.col_24{
		width: 70px;
	}


	.col_25{
		width: 70px;
	}


	.col_26{
		width: 70px;
	}


	.col_27{
		width: 70px;
	}


	.col_28{
		width: 70px;
	}


	.col_29{
		width: 70px;
	}


	.col_30{
		width: 70px;
	}


	.col_31{
		width: 70px;
	}


	.col_32{
		width: 70px;
	}


	.col_33{
		width: 70px;
	}


	.col_34{
		width: 70px;
	}


	.col_35{
		width: 70px;
	}



input[type="submit"] {
    
    font: bold;
    color: blue;
    cursor: pointer;
}

#div_submit_test_1{
	display: table-cell;
	margin: 0px;
}

input[type=radio]{
	position: absolute;
	clip: rect(0, 0, 0, 0);


}

label {
	cursor: pointer;

	}

input[type=radio]:checked + label:after {
	/*background-position: 0 -17px;*/
	visibility: hidden;
}

.div_switch_th{
	/*border: 2px solid red;*/
	/*border-radius: 15px;*/
	/*background: #FFFFFF;*/
}

label:after {
	content: "";
	display: inline-block;
	width: 11px;
	height: 11px;
	/*position: relative;*/
	/*margin-left: auto;*/
	/*margin-right: 0px;*/
}

.label_group:after{
	background-image: url(img/group.png);
	}

.label_sort:after{
	background-image: url(img/sort.png);
	}

.label_oder_sort:after{
	background-image: url(img/oder_down.png);
	}


.col_{
	width: auto;
	
}