

.wrapper{
	background: #C0C0C0;
	height: auto;
	width: auto;
	display: inline-block;
	margin: -10px;
	/*position: fixed;*/
}

.heder {
	background: #D3D3D3;
	border: 2px solid #3B303B;
	border-radius: 10px;
	height: 50px;
	margin: 10px;
}

.content {
	background: #D3D3D3;
	border: 2px solid #3B303B;
	border-radius: 10px;
	height: auto;
	width: auto;
	margin: 5px;
	padding: 5px;
	display: inline-block;
	font-size: 12px;

}

.block_switch{
	display: block;
}


.footer {
	background: #D3D3D3;
	border: 2px solid #3B303B;
	border-radius: 10px;
	height: 200px;
	margin: 20px;
}

th {
	background: #D3D300;
	/*position: fixed;*/
	/*display: inline-block;*/
}

td {
	background: #00D300;
	/*z-index: 0;*/
}









table, td, tr, th  {
	border-collapse: collapse;
	border: 1px solid black;
	text-align: center;
}

table {
	margin: 10px;
	margin-left: 2px;
}

th {
	padding: 5px;
}

td {
	padding-left: 3px;
	padding-right:3px;
}

.sorting{
	background-color: #C097F2;
}

.main_sorting{
	background-color: #9DF8FB;
}