

#wrapper_top {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10;	
	background: #C0C0C0;
	height: 200px;
	width: 100%;
}

#wrapper_bottom {
	position: absolute;
	top: 200px;
	left: 0;
	width: 100%;
	background: #C000C0;

}

#heder {
	background: #D3D3D3;
	border: 2px solid #3B303B;
	border-radius: 10px;
	height: 50px;
	margin: 10px;
}

#content_block_switch{
	background: #D3D3D3;
	border: 2px solid #3B303B;
	border-radius: 10px;
	height: auto;
	width: auto;
	margin-bottom: 10px;
}

#table_hed{
	/*border: 1px solid blue;*/
	margin: 8px;
}

.thed {
	display: inline-block;
	border: 2px solid #3B303B;
	font-size: 15px;
	margin-left: -1px;
	padding: 2px;
}





