

table, td, tr, th  {
	border: 1px solid black;
	text-align: center;
}

table {
	border-collapse: collapse;
	margin: -10px;
	padding: 10px;
}

#BlocButton{
	background: white;
	position: relative;
	top: -10px;
	left: -10px;
	width: 2030px;
	height: 40px;
	z-index: 100;
	margin: 0;
}

#UpdateListHyp {
	position: relative;
	margin: 10px;
}

p.vertical{
  transform: rotate(-90deg);
	margin: -5px;
	-webkit-margin-after: 30px;
	-webkit-margin-before: 30px;
	color: red;
}

#Had_NameHyp_Col{
	margin: -25px;
}

p.NameHyp{
	text-align: left;
	padding: 0; 
	margin: 0;
	// color: red;
}

.NameHyp_Col{
	width: 5px;
}






