

table, td, th {
	border: 1px solid red;

table {

	border-collapse: collapse;
}

#vrap {
	border: 5px solid red;
}

#hed {
	width: 2500px;
	border: 2px solid black;
	background-color: white;
	// position: fixed;
	// right: 10px;
	// left: 10px;
	// overflow: auto;
	// // display: block;
	// z-index: 5;
	// // float: left;

}

#body {
	// background-color: red;
	border: 2px solid blue;
	// position: relative;
	margin: 200 50 20 50;
}

.body_tabl {
	background-color: black;
	border: 4px #ccff55;
}